.container {
    text-align: center;
}

#timer {
  font-family: monospace;
  font-size: 120px;
  color: green;

  /* Typography */
  text-align: center;

  /* Visual */
  background: white;
  width: 400px;
}
