.container {
    text-align: center;
}

#timer {
  font-family: monospace;
  font-size: 120px;
  color: green;

  /* Typography */
  text-align: center;

  /* Visual */
  background: white;
  width: 400px;
}

#choice0, #choice1, #choice2, #choice3 {
  background-color: blue;
  color: white;
  width: 500px;
}